<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/><!-- sql문에 stud_id와 같은 이름을 별칭없이 그대로 사용 가능. 카멜식으로 자동 적용됨 -->
	</settings>

	<typeAliases>
		<package name="mybatis_study.dto"/>
	</typeAliases>
	
	<typeHandlers>
		<typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="Gender"/>
		<package name="mybatis_study.typehandlers"/>
	</typeHandlers>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="mybatis_study.jdbc.HikariCPFactory" />
		</environment>
	</environments>
	<mappers> <!-- mappers는 지우면 안됨! / 그 아래에 필요없는 것은 지워도됨 -->
		<package name="mybatis_study.mappers"/>
	</mappers>
</configuration>