<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis_study.mappers.UserPicMapper">
	<insert id="insertUserPic" parameterType="UserPic">
		insert into user_pics (id, name, pic, bio) 
		values(#{id}, #{name}, #{pic}, #{bio})
	</insert>
	
	<select id="getUserPic" parameterType="int" resultType="UserPic">
		select id, name, pic, bio from user_pics where id = #{id}
	</select>
</mapper>